@model IEnumerable<GenshinDB.Models.Artifact>

@{
    ViewData["Title"] = "Home";
}

<p>
    <form asp-controller="Home" asp-action="Index" method="get">
    <p align="right">
        <input type="text" name="SearchString" />
        <input type="submit" value="Search Artifacts" />
    </p>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetEffect2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetEffect4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetEffect2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetEffect4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Full Details</a>
            </td>
        </tr>
}
    </tbody>
</table>